.combo-box {
    -fx-background-color: #ffffff;
    -fx-background-radius: 10;
    -fx-border-radius: 10;
    -fx-border-color: #b6c6d6;
    -fx-border-width: 1.2;
    -fx-padding: 5 10 5 10;
}

.combo-box:hover {
    -fx-border-color: #64b5f6;
}

.combo-box:focused {
    -fx-border-color: #2196f3;
    -fx-effect: dropshadow(gaussian, rgba(33,150,243,0.3), 10, 0, 0, 0);
}

.combo-box .arrow-button {
    -fx-background-color: transparent;
}

.combo-box .arrow-button .arrow {
    -fx-background-color: #2196f3;
    -fx-shape: "M 0 0 L 6 0 L 3 4 z";
}

.threeDotsButton {
    -fx-background-color: transparent;
    -fx-cursor: hand;
    -fx-padding: 6 10;
}

.threeDotsButton:hover {
    -fx-background-color: rgba(0,0,0,0.08);
    -fx-background-radius: 5px;
}

.ruleItem {
    -fx-padding: 10;
    -fx-background-color: #ffffff;
    -fx-background-radius: 10px;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.1), 4, 0, 0, 2);
}

.ruleName {
    -fx-font-size: 15px;
    -fx-font-weight: bold;
}

.ruleSummary {
    -fx-font-size: 12px;
    -fx-text-fill: #555;
}

.deleteButton {
    -fx-background-color: transparent;
    -fx-font-size: 14px;
}

.deleteButton:hover {
    -fx-text-fill: red;
}
